body {
  border-top: 5px solid #ddd;
}

.brand {
  height: 60px;
  background-image: url('/public/images/header.jpg') 0px -50px;
  text-indent: -9999px;
  overflow:hidden;
  display:block;
}

.main-footer {
  margin: 20px 0;
  padding: 20px 10px 0px;
  border-top: 1px solid #ddd;
}
