#{extends 'main.html' /}
#{set title:'Geavenceerd Zoeken' /}
<form class="well form-inline">
  <label>Titel: </label>
  <input type="text" class="input-small">
  <label>Reeks: </label>
  <input type="text" class="input-small">
  <label>Genre: </label>
  <input type="text" class="input-small">
  <label>Auteur: </label>
  <input type="text" class="input-small">
  <label>Uitgever: </label>
  <input type="text" class="input-small">
  <button type="submit" class="btn pull-right">Zoeken</button>
</form>