#{extends 'main.html' /}
#{set title:'Home' /}

<div class="row">
  <div class="span6">
    <h1>Top 10</h1>
		%{ 
		  for (int i = 1; i < 5; i++ ) { 
		}%
		<article class="row">
		  <div class="span5">
			<h6>Some Comic name</h6>
			<p>1999 - Marvel Comics - Batman </p>
		  </div>
		  <div class="pull-right">
			<a class="btn btn-mini" type="submit" rel="tooltip" title="Nog te lezen"><i class="icon-flag"></i></a>
			<a class="btn btn-mini" type="submit" rel="tooltip" title="Gelezen"><i class="icon-ok"></i></a>
			<script>$("a").tooltip();</script>
		  </div>
		</article>
	   %{ 
		} 
	   }%
	   </br>
	<a class="pull-right btn mini" href="@{Application.bestGewaardeerde()}">Meer</a>
  </div> 	
  <div class="span6">
    <h1>Nieuwste</h1>
		%{ 
		  for (int i = 1; i < 5; i++ ) { 
		}%
		<article class="row">
		  <div class="span5">
			<h6>Some Comic name</h6>
			<p>1999 - Marvel Comics - Batman </p>
		  </div>
		  <div class="pull-right">
			<a class="btn btn-mini" type="submit" rel="tooltip" title="Nog te lezen"><i class="icon-flag"></i></a>
			<a class="btn btn-mini" type="submit" rel="tooltip" title="Gelezen"><i class="icon-ok"></i></a>
			<script>$("a").tooltip();</script>
		  </div>
		</article>
	   %{ 
		} 
	   }%
	   </br>
	<a class="pull-right btn mini" href="@{Application.nieuwste()}">Meer</a>
  </div>
</div>

<div class="row">	
  <div class="span6">
    <h1>Populair</h1>
		%{ 
		  for (int i = 1; i < 5; i++ ) { 
		}%
		<article class="row">
		  <div class="span5">
			<h6>Some Comic name</h6>
			<p>1999 - Marvel Comics - Batman </p>
		  </div>
		  <div class="pull-right">
			<a class="btn btn-mini" type="submit" rel="tooltip" title="Nog te lezen"><i class="icon-flag"></i></a>
			<a class="btn btn-mini" type="submit" rel="tooltip" title="Gelezen"><i class="icon-ok"></i></a>
			<script>$("a").tooltip();</script>
		  </div>
		</article>
	   %{ 
		} 
	   }%
	   </br>
	<a class="pull-right btn mini" href="@{Application.meestGelezen()}">Meer</a>
  </div> 
  <div  class="span6">
    <h1>Meest gelezen</h1>    
		%{ 
		  for (int i = 1; i < 5; i++ ) { 
		}%
		<article class="row">
		  <div class="span5">
			<h6>Some Comic name</h6>
			<p>1999 - Marvel Comics - Batman </p>
		  </div>
		  <div class="pull-right">
			<a class="btn btn-mini" type="submit" rel="tooltip" title="Nog te lezen"><i class="icon-flag"></i></a>
			<a class="btn btn-mini" type="submit" rel="tooltip" title="Gelezen"><i class="icon-ok"></i></a>
			<script>$("a").tooltip();</script>
		  </div>
		</article>
	   %{ 
		} 
	   }%
		</br>	   
	<a class="pull-right btn mini" href="@{Application.bestGewaardeerde()}">Meer</a>
  </div>	
</div>

