#{extends 'main.html' /}
#{set title:'Home' /}

<div class="row">
  <div class="span6">
    <h1>Top 10</h1>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Een strip :)</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>Bit by a spider</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Er was eens</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Een strip :)</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>Bit by a spider</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Er was eens</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
  </div> 	
  <div class="span6">
    <h1>Nieuwste</h1>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Een strip :)</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>Bit by a spider</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Er was eens</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Een strip :)</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>Bit by a spider</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Er was eens</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
  </div>
</div>

<div class="row">	
  <div  class="span6">
    <h1>Populair</h1>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Een strip :)</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>Bit by a spider</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Er was eens</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Een strip :)</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>Bit by a spider</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Er was eens</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
  </div> 

  <div  class="span6">
    <h1>Meest gelezen</h1>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Een strip :)</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>Bit by a spider</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Er was eens</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Some Comic name</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Een strip :)</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>Bit by a spider</h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>Er was eens</h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
  </div>	
</div>

