#{extends 'main.html' /}
#{set title:'Home' /}

<div class="row">
  <div class="span6">
    <h1>Top 10</h1>
    <article>
      <h6>
		  Some Comic name   
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman </p>
    </article>
    <article>
      <h6>
		  Some Comic name
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>
		  Een strip :)
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>
		  Bit by a spider
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>
		  Er was eens
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>
		  Some Comic name
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
	<a class="pull-right btn mini" href="@{Application.bestGewaardeerde()}">Meer</a>
  </div> 	
  <div class="span6">
    <h1>Nieuwste</h1>
    <article>
      <h6>
		  Some Comic name   
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman </p>
    </article>
    <article>
      <h6>
		  Some Comic name
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>
		  Een strip :)
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>
		  Bit by a spider
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>
		  Er was eens
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>
		  Some Comic name
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
	<a class="pull-right btn mini" href="@{Application.nieuwste()}">Meer</a>
  </div>
</div>

<div class="row">	
  <div class="span6">
    <h1>Populair</h1>
    <article>
      <h6>
		  Some Comic name   
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman </p>
    </article>
    <article>
      <h6>
		  Some Comic name
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>
		  Een strip :)
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>
		  Bit by a spider
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>
		  Er was eens
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>
		  Some Comic name
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
	<a class="pull-right btn mini" href="@{Application.meestGelezen()}">Meer</a>
  </div> 
  <div  class="span6">
    <h1>Meest gelezen</h1>    
	<article>
      <h6>
		  Some Comic name   
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman </p>
    </article>
    <article>
      <h6>
		  Some Comic name
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>
		  Een strip :)
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>
		  Bit by a spider
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>
		  Er was eens
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>
		  Some Comic name
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>	
	<a class="pull-right btn mini" href="@{Application.bestGewaardeerde()}">Meer</a>
  </div>	
</div>

