#{extends 'main.html' /}
#{set title:'Meest Gelezen' /}

<div class="row">
	<div class="span12">
		<h1>Meest Gelezen</h1>
		%{ 
		  for (int i = 1; i < 10; i++ ) { 
		}%
		<article class="row">
		  <div class="span8">
			<h6>Some Comic name</h6>
			<p>1999 - Marvel Comics - Batman </p>
		  </div>
		  <div class="pull-right">
			<a class="btn btn-mini" type="submit" rel="tooltip" title="Nog te lezen"><i class="icon-flag"></i></a>
			<a class="btn btn-mini" type="submit" rel="tooltip" title="Gelezen"><i class="icon-ok"></i></a>
			<script>$("a").tooltip();</script>
		  </div>
		</article>
	   %{ 
		} 
	   }%
    </div>
</div> 
<div class="row">
	<div class="pagination center">
	  <ul>
		<li><a href="#">Vorige</a></li>
		<li class="active">
		  <a href="#">1</a>
		</li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">Volgende</a></li>
	  </ul>
	</div>
</div> 	