#{extends 'main.html' /}
#{set title:'Meest Gelezen' /}

<div class="row">
	<div class="span12">
		<h1>Meest Gelezen</h1>
    <article>
      <h6>
		  Some Comic name   
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman </p>
    </article>
    <article>
      <h6>
		  Some Comic name
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>
		  Een strip :)
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>
		  Bit by a spider
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    <article>
      <h6>
		  Er was eens
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>2003 - Nero - Jommeke</p>
    </article>
    <article>
      <h6>
		  Some Comic name
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-ok"></i></a>
		  <a class="btn btn-mini pull-right" type="submit"><i class="icon-flag"></i></a>
	  </h6>
      <p>1999 - Marvel Comics - Batman</p>
    </article>
    </div>
</div> 
<div class="row">
	<div class="pagination center">
	  <ul>
		<li><a href="#">Prev</a></li>
		<li class="active">
		  <a href="#">1</a>
		</li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">Next</a></li>
	  </ul>
	</div>
</div> 	