#{extends 'main.html' /}
#{set title:'Registreren' /}
<form class="form-horizontal">
<fieldset>
  <legend>Registreren</legend>
  <div class="control-group">
	<label class="control-label" for="input01">Gebruikersnaam</label>
	<div class="controls">
	  <input type="text" class="input-xlarge" id="input01">
	  <p class="help-block">eventuele tip bij gebruikersnaam</p>
	</div>
  </div>
  <div class="control-group">
	<label class="control-label" for="input01">E-mail</label>
	<div class="controls">
	  <input type="text" class="input-xlarge" id="input02">
	</div>
  </div>
  <div class="control-group">
	<label class="control-label" for="input01">Bevestig E-mail</label>
	<div class="controls">
	  <input type="text" class="input-xlarge" id="input03">
	</div>
  </div>
  <div class="control-group">
	<label class="control-label" for="input01">Wachtwoord</label>
	<div class="controls">
	  <input type="text" class="input-xlarge" id="input04">
	</div>
  </div>
  <div class="control-group">
	<label class="control-label" for="input01">Bevestig wachtwoord</label>
	<div class="controls">
	  <input type="text" class="input-xlarge" id="input05">
	</div>
  </div>
  <div class="form-actions">
	<button type="submit" class="btn btn-primary">Registreren</button>
  </div>
</fieldset>
</form>